[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/jisaacks/GitGutter.git
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
